/* ОБЩИЕ НАСТРОЙКИ */
html,body {
  height: 100%;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
}

/* БЛОК 1 */
.fullscreen{
  min-height: 100vh;
  background-color: rgb(249, 240, 240);
  display: flex;
}
.fullscreen__body{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 1200px;
  margin: 0px auto;
}
/* БЛОК 1 ПАНЕЛЬ МЕНЮ */
.nav{
  width: 100%;
  height: 60px;
  background-color: rgb(43, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu{
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}
li {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
  transition: 0.5s;
}
.nav__1__active:hover {
  background-color: rgb(247, 55, 55);
  border-radius: 5%;
  cursor: pointer;
}
.nav__1__active:active {
  background-color: rgba(247, 55, 55, 0.562);
}
a {
  display: block;
  color: white;
  font-size:15px;
  text-decoration: none;
  text-transform: uppercase;
}
/* БЛОК 1 КОНТЕНТ */
.block__content {
  display: flex;
  margin-top: 70px;
}
/* БЛОК 1 ЛЕВЫЙ */
.block__title {
  flex: 1 1 auto;
  width: 50%;
}
.title {
  text-transform: uppercase;
}
.title_h1 {
  font-size: 70px;
  color: black;
  font-weight: 900;
}
p {
  color: grey;
  margin: -30px 0px 0px 0px;
  width: 450px;
}
.button__content {
  border: 2px solid rgb(247, 55, 55);
  border-radius: 5px;
  background-color: rgb(247, 55, 55);
  width: 250px;
  height: 50px;
  margin-top: 40px;
  color: white;
  font-size:15px;
  text-transform: capitalize;
  transition: 0.3s;
}
.button__content:hover {
  background-color: rgba(247, 55, 55, 0);
  color: rgb(247, 55, 55);
  cursor: pointer;
}
.button__content:active {
  box-shadow: 0px 0px 10px rgb(247, 55, 55);
}
/* БЛОК 1 ПРАВЫЙ */
.block__video {
  flex: 1 1 auto;
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.video__wrapper {
  display: inline-block;
  width: 560px;
  height: 360px;
  box-shadow: 0px 0px 20px grey;
  position: relative;
}
.video__play__button {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px) ;
  border: 4px solid white;
  border-radius: 50%;
  z-index: 2;
}
.video__play__button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px rgb(247, 55, 55);
}
.video__play__button:active {
  cursor: pointer;
  border: 4px solid rgba(247, 55, 55, 0.578);
}
.video__play__button:active .play__button {
  cursor: pointer;
  border-left: 20px solid rgba(247, 55, 55, 0.578);
}
.play__button {
  border: 20px solid transparent;
  display: inline-flex;
  border-left: 20px solid white;
  margin-left: 42%;
  margin-top: 20%;
  z-index: 1;
}
video {
  width: 100%;
  height: 100%;
}
/* ОСНОВНОЙ КОНТЕНТ БЛОК */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main__section {
  width: 1200px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
/* ОСНОВНОЙ БЛОК 1 */
.content__wrap__1 {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.title_h2 {
  font-size: 40px;
  color: rgb(52, 51, 51);
  font-weight: 300;
  margin-bottom: 50px;
}
/* ОСНОВНОЙ БЛОК 1 СПИСОК */
.block__list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: end;
  padding-top: 35px;
}
.list {
  width: 250px;
}
.list__logo__size {
  width: 50px;
  height: 50px;
  background-color: rgb(102, 55, 55);
}
.list__logo__1 {
  background-image: url(./image/sprait_logo_list.jpg);
  background-position: -89px -55px;
}
.list__logo__2 {
  background-image: url(./image/sprait_logo_list.jpg);
  background-position: -888px -55px;
}
.list__logo__3 {
  background-image: url(./image/sprait_logo_list.jpg);
  background-position: -89px -736px;
}
.list__logo__4 {
  background-image: url(./image/sprait_logo_list.jpg);
  background-position: -888px -736px;
}
h5 {
  color: rgb(52, 51, 51);
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}
/* ЛИНИЯ В КОНЦЕ БЛОКА 1*/
.line__1 {
  width: 85%;
  height: 2px;
  color: grey;
  background-color: grey;
  margin: 80px 0px 50px 0px;
}
/* БЛОК 2 FEATURE PRODUCTS */
.content__wrap__2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ЗАГОЛОВОК FEATURE PRODUCTS */
.block__2__title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block__2__title__wrap {
  text-align: center;
  padding-top: 30px;
}
/* ЛИНИЯ КРАСНАЯ */
.line__red {
  width: 150px;
  height: 2px;
  color: rgb(247, 55, 55);
  background-color: rgb(247, 55, 55);
  margin: 30px 0px 60px 0px;
}
/* НАВИГАЦИЯ 2 */
.block__2__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.block__2__nav__color {
  color: grey;
}
.block__2__nav__color:hover {
  color: rgb(103, 103, 210);
}
.block__2__nav__color:active {
  text-shadow: 0px 0px 2px rgb(103, 103, 210);
}
/* КАРТИНКИ */
.block__2__wrap__images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 90px;
}
.block__2__imeg__size {
  width: 280px;
  height: 280px;
  transition: 0.6s;
}
.block__2__imeg__size:hover {
  width: 265px;
  height: 265px;
  cursor: pointer;
}
/* БЛОК 3 MEET OUR TEAM */
.content__wrap__3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* БЛОК КАРТОЧЕК СОТРУДНИКОВ  */
.wrapper__card__person {
  width: 100%;
  position: relative;
}
/* КАРТА СОТРУДНИКА */
.card__person {
  width: 100%;
  position: absolute;
  display: flex;
  gap: 40px;
}
/* ЗАГЛАВНОЕ ФОТО СОТРУДНИКА  */
.title__img__person{
  width: 340px;
  height: 380px;
  background-color: rgb(101, 71, 129);
  position: relative;
}
/* ВСПЛЫВАЮЩИЙ БЛОК ИМЯ СОТРУДНИКА */
.wrap__title__name__person {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.547);
  position: absolute;
  bottom: 0%;
  text-align: center;
  display: none;
}
.title__name__person {
  display: inline-block;
  font-size: 18px;
  width: 100%;
  color: white;
  margin-top: 10px;
}
.title__img__person:hover .wrap__title__name__person {
  display: block;
}
/* БЛОК С ИНФОРМАЦИЕЙ СОТРУДНИКА И ФОТО КАРТЫ КОМАНДЫ */
.wrap__info__team {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ИНФОРМАЦИЯ ВЫБРАННОГО СОТРУДНИКА */
.info__person {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
}
.info__person__name {
  font-size: 30px;
  color: rgb(52, 51, 51);
  margin: 10px 0px 20px 0px;
}
/* НАВИГАЦИЯ ПО СОЦИАЛЬНЫМ СЕТЯМ */
.nav__social__media {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  transition: 0.1s;
}
.social__media {
  font-size: 15px;
  text-transform: capitalize;
  font-style: italic;
  color: rgb(52, 51, 51);
  transition: 0.3s;
}
.social__media:hover {
  font-size: 13px;
}
.nav__social__media:active {
  text-shadow: 0px 0px 2px rgb(103, 103, 210);
}
/* БЛОК КАРТОЧКИ КОМАНДЫ */
.wrap__team {
  display: flex;
  gap: 20px;
}
.team__person {
  width: 210px;
  height: 210px;
  position: relative;
}
/* ВСПЛЫВАЮЩИЕ ИМЯ СОТРУДНИКА КОМАНДЫ */
.wrap__team__person__name {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.547);
  position: absolute;
  bottom: 0%;
  text-align: center;
  display: none;
}
.team__person__name {
  display: inline-block;
  font-size: 15px;
  width: 100%;
  color: white;
  margin-top: 5px;
}
.team__person:hover .wrap__team__person__name{
  display: block;
}
/* КАРТЫ СОТРУДНИКОВ КОМАНДЫ И ВЫБОР ПО НАЖАТИЮ */
.card__person__1 {
  z-index: 1;
}
.card__person__2 {
  z-index: -2;
}
.card__person__3 {
  z-index: -3;
}
.card__person__4 {
  z-index: -4;
}
.card__person__5 {
  z-index: -5;
}
/* ВЫБОР КАРТЫ СОТРУДНИКА КОМАНДЫ */

#person1:checked + .card__person__1 {
  z-index: 10;
}
#person2:checked + .card__person__2 {
  z-index: 10;
}
#person3:checked + .card__person__3 {
  z-index: 10;
}
#person4:checked + .card__person__4 {
  z-index: 10;
}
#person5:checked + .card__person__5 {
  z-index: 10;
}

#person1, #person2, #person3, #person4, #person5 {
  display: none;
}

/* БЛОК ПОДВАЛ */

.footer {
  width: 100%;
  margin-top: 470px;
}
.wrap__form__1 {
  width: 100%;
  height: 350px;
  background-color: rgb(51, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap__content__form__1 {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__1__title {
  font-size: 40px;
  color: white;
  margin-top: 0px;
}
.form__1__text {
  margin-top: -70px;
  color: white;
}
.form__1 {
  margin-top: 5px;
}
.form__1__email {
  outline: none;
  border: 2px solid white ;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  font-size: 13px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-right: 20px;
  
}
.form__1__button__size {
  width: 180px;
}

/* БЛОК ФОРМЫ 2 */

.wrap__form__2 {
  width: 100%;
  position: relative;
}

.wrap__content__form__2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.p-form__2 {
  margin-top: 10px;
}
.wrap__block__form__2 {
  width: 100%;
  display: flex;
  gap: 70px;
  position: relative;
}

.wrap__element__form__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form__2__line__1 {
  width: 100%;
  display: flex;
  gap: 30px;

}
.form__2 {
  border: 2px solid rgb(238, 238, 238);
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  resize: none;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  outline: none;

}
.form__2__size {
  width: 50%;
  height: 40px;

}
.form__2__button__size {
  width: 100%;
  height: 40px;
  margin-top: 0px;
}

.block__contact__info{
  position: absolute;
  right: -157px;
  height: 100%;
  width: 40%;
  background-color: rgb(26, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 40px;
}
.contact__info__title {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0px;
}
.contact__info__address {
  color: grey;
}
.contact__info__mail {
  text-transform: lowercase;
  color: grey;
}
.contact__info__phone {
  color: grey;
}

/* ПОДВАЛ БЛОК*/

.footer__bottom {
  width: 100%;
  height: 70px;
  background-color: rgb(26, 25, 25);
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__bottom__text {
  color: grey;
}
.footer__bottom__img {
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.footer__bottom__img:hover {
  transform: rotate(30deg);
  width: 40px;
  height: 40px;
}
.footer__bottom__img:active {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
}

/* БЛОК СТРЕЛКИ ВВЕРХ ВНИЗ */

.background__arrow__top {
  position: fixed;
  top: 10%;
  right: 3%;
  width: 50px;
  height: 55px;
  background-color: rgba(222, 86, 86, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}
.background__arrow__top:hover {
  background-color: rgba(222, 86, 86, 0.268);
}
.arrow__top {
  position: absolute;
  top: 22px;
  width: 30px;
  height: 30px;
  border-top: 3px solid rgb(222, 86, 86);
  border-left: 3px solid rgb(222, 86, 86);
  transform: rotate(45deg);
  z-index: 100;
}
.background__arrow__bottom {
  position: fixed;
  bottom: 10%;
  right: 3%;
  width: 50px;
  height: 55px;
  background-color: rgba(222, 86, 86, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}
.background__arrow__bottom:hover {
  background-color: rgba(222, 86, 86, 0.268);
}
.arrow__bottom {
  position: absolute;
  bottom: 22px;
  width: 30px;
  height: 30px;
  border-right: 3px solid rgb(222, 86, 86);
  border-bottom: 3px solid rgb(222, 86, 86);
  transform: rotate(45deg);
  z-index: 100;
}
.arrow__top:hover {
  border-top: 3px solid rgb(255, 0, 0);
  border-left: 3px solid rgb(255, 0, 0);
  cursor: pointer;
}
.arrow__bottom:hover {
  border-right: 3px solid rgb(255, 0, 0);
  border-bottom: 3px solid rgb(255, 0, 0);
  cursor: pointer;
}
.arrow__top__a {
  color: rgba(238, 140, 12, 0);
  transform: rotate(-45deg);
  margin-left: -15px;
  margin-top: -10px;
  font-size: 25px;
}
.arrow__bottom__a {
  color: rgba(138, 84, 13, 0);
  transform: rotate(-45deg);
  margin-left: -10px;
  margin-top: 25px;
  font-size: 20px;
}


/* ЗАГРУЗОЧНЫЙ ЭКРАН */

/* .preloader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: preloader 1s linear forwards ;
  animation-delay: 5s;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(255, 0, 0); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes preloader {
  
  to {
    z-index: -999;
    width: 0%;
    height: 0%;
  }
} */

/* СТИЛЬ ПОЛОСЫ ПРОКРУТКИ */

::-webkit-scrollbar {
  width: 0;
} 

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(249, 240, 240);
}
body::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(249, 240, 240);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(222, 86, 86);
  border-radius: 5px;
}



